$colors: (
    body: (
        color: #3E4073,
    ),
    heading: (
        color: #14176C,
    ),
    theme: (
        primary: #F7A400,
        secondary: #191D88,
    ),
    color: (
        dark-blue: #0E104B,
        yellow-light: #FEF6E6,
        yellow-light-2: #FFFBF3,
        yellow-light-3: #F5EACD,
        yellow-light-4: #FDE3B0,
        white-default: #ffffff,
        gray-1: #E6EEFF,
        gray-2: #B8B9DA,
        gray-3: #ECF6FA,
        gray-4: #818298,
        gray-5: #E2E3F1,
        gray-6: #F7F7F8,
        dark: #1C1A4A,
        black-1: #06042E,
        black-2: #161439,
    ),
    border: (
        1: #CFDDE2,
        2: #E6E7F3,
        3: #C5C6E4,
        4: #DBE3EB,
        5: #9597C8,
        6: #DADBEC,
        7: #E9E9F0,
        8: #E08B00,
        9: #D0D6E1
    )
);
